@import 'reset';
@import 'bourbon';
@import 'neat';
$theme-color1: black;
$theme-color2: white;
$theme-color3:#A1B9E5;


html, body{
    height: 100%;
    width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.game-screen {
    background: $theme-color1;
    min-height: 100%;
    position: relative;
}

.narration-window {
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius: 6px;
    border: 4px solid $theme-color2;
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: 800;
    color: $theme-color2;
}

.enemy-side {
    position: absolute;
    top: 20%;
    width: 60%;
    height: 80%;
    border-radius: 6px;
    border: 4px solid $theme-color2;
    font-size: 2rem;
    font-family: monospace;
    font-weight: 800;
    color: $theme-color2;
    img {
        width: 50%;
        position: absolute;
        right: 25%;
    }
    p {
        text-align: center;
    }
}

.hero-side {
    position: absolute;
    top: 20%;
    right: 0%;
    width: 40%;
    height: 80%;
    border-radius: 6px;
    border: 4px solid $theme-color2;
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: 800;
    color: $theme-color2;
}
.hero-data {
    float: right;
    width: 49%;
    p {
        text-align: center;
    }
}
.options-menu {
    float: left;
    width: 49%;
    font-size: 1.5rem;
    li {
        padding: .5rem;
        border: 3px solid $theme-color3;
    }

}
.options-menu>ul {
}


